.profile-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column; // 决定主轴的方向
    align-items: center; // 定义项目在交叉轴对齐方式
    justify-content: center; // 定义项目在主轴的对齐方式
    color: #fff;

    .back-btn {
        position: absolute;
        left: 16px;
        top: 20px;
        padding: 12px;
        color: #fff;
    }

    .avatar {
        width: 60px;
        height: 60px;
    }

    .username {
        margin: 10px auto;
        font-size: 22px;
    }

    .date-count {
        font-size: 14px;
    }
}

.todo-list {
    list-style: none;
    overflow: scroll;
    padding: 0;
    height: 80%;

    div {
        height: calc(100% - 20px);
    }
}